# logging / private config
yarn-error.log

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.DS_STORE
.DS_Store
.tsbuildinfo
.gitconfig

# npm assets
node_modules
npm-debug.log
package-lock.json

# build artifacts
src/*.js
src/*.js.map
src/*.d.ts

dist

# typescript assets
*.tsbuildinfo
!global.d.ts

# config files
.eslintcache
